:root {
  --primary-color: #be9e55;
  --link-font-family: "Open Sans", sans-serif;
  --text-font: "Poppins", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #111111;
}
.container {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
}

/* hero page+navbar */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/img/rome.png);
  width: 100%;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: block;
  border-bottom: 1px solid var(--primary-color);
}
.navbar {
  padding: auto;
  border-bottom: 1px solid var(--primary-color);
}
.navbar-brand img {
  width: 90px;
  height: 70px;
  margin-left: 30px;
}
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.319);

  height: auto;
  text-align: center;
}
.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.583);
}
.nav-link {
  color: white;
  text-transform: uppercase;
  margin-left: 30px;
  font-family: var(--link-font-family);
  font-weight: 200;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--primary-color);
}
.nav-link:hover {
  color: var(--primary-color);
}
.nav-link:visited {
  color: white;
}
#border-item {
  border: 2px solid var(--primary-color);
}
.navbar-toggler {
  color: var(--primary-color);
}
.navbar-toggler:visited {
  color: black;
}

.logo img {
  width: 900px;
  height: 700px;
}

.logo {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
}
/* about-1 section  */
.about {
  padding: 0px 40px;
  margin: 100px 0px;
}
.about .text {
  margin-top: 30px;
}
.about h2 {
  text-align: center;
  color: var(--primary-color);
  font-family: var(--text-font);
  font-weight: 400;
}
.about p {
  text-align: center;
  color: white;
}
.about img {
  width: 500px;
  height: 400px;
}
.show-on-small {
  display: none;
}
.line {
  background: #be9e55;
  border: 1px solid #be9e55;
  height: 2px;
  width: 140px;
  margin: auto;
  margin-bottom: 12px;
}
/* divider */
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.divider-line {
  flex-grow: 0.3;
  height: 1px;
  background-color: var(--primary-color);
}
.divider-circle {
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 10px;
}
.divider-circle + .divider-circle {
  margin-left: 5px;
}
.divider-line-title {
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
  flex-grow: 1;
  background-color: var(--primary-color);
  height: 1px;
}
.divider-line-in-text {
  flex-grow: 1;
  height: 1px;
  background-color: var(--primary-color);
}

/* about 2 section */

.about-2 {
  padding: 0px 40px;
  margin-bottom: 100px;
  width: 100%;
}
.about-2,
.line-1 {
  color: var(--primary-color);
  text-align: start;
  margin-top: 30px;
}
.one {
  color: white;
  text-align: start;
  margin-top: 30px;
  margin-bottom: 100px;
}
.about-2,
.line-2 {
  color: var(--primary-color);
  text-align: end;
  margin-top: 100px;
}
.two {
  color: white;
  text-align: end;
  margin-top: 30px;
}
.about-2-img {
  width: 500px;
  height: 600px;
}
p {
  font-size: 18px;
}

/* footer starts */
.footer {
  border-top: 1px solid var(--primary-color);
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}
.footer-content {
  width: 80%;
  height: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  margin: auto;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 60px;
}
.footer-upper-section a {
  display: block;
}
.footer a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.logo-small {
  text-align: center;
}
.logo-small img {
  width: 350px;
  height: 250px;
}
.number {
  margin-bottom: 0px;
}
.hour-title {
  margin-top: 20px;
  margin-bottom: 5px;
}
.hours {
  margin-bottom: 0px;
}
.footer .social-icons {
  color: white;
  margin-top: 20px;
}
.footer i {
  font-size: 35px;
}
.footer .fa-whatsapp {
  padding-left: 30px;
}
.footer i:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}
.footer a:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

@media (max-width: 900px) {
  .container p {
    font-size: 12px;
  }
  .hero {
    width: 100%;
    height: 680px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .logo img {
    margin-top: 200px;
    width: 300px;
    height: 200px;
  }
  .navbar {
    background-color: black;
    border-bottom: 1px solid var(--primary-color);
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
  }

  button .navbar-toggler-icon {
    color: var(--primary-color);
  }
  .navbar-toggler {
    margin-right: 30px;
    border: none;
    color: var(--primary-color);
    font-size: 30px;
  }
  #border-item {
    padding: 10px 8px;
    margin-right: 220px;
    margin-left: 20px;
  }
  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0);
    width: 10px;
    height: auto;
    text-align: left;
    padding-left: 12px;
  }
  .about {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .about img {
    width: 200px;
    height: 180px;
  }
  .about-1-text {
    margin-top: 20px;
  }
  .text h2 {
    margin-bottom: 20px;
  }
  .container .hide-on-small {
    display: none;
  }
  .show-on-small {
    display: block;
    margin: auto;
    margin-top: 30px;
  }

  .divider-line {
    flex-grow: 0.4;
  }
  .about-2 {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .one {
    margin: 20px 0px 20px;
  }
  .line-1 {
    margin: 20px 0px 20px;
  }
  .line-2 {
    margin: 20px 0px 20px;
  }
  .two {
    margin: 20px 0px 20px;
  }
  .about-2-img {
    margin-top: 20px;
    width: 250px;
    height: 280px;
  }
  .logo-small img {
    width: 180px;
    height: 130px;
  }
  .footer-content {
    padding-bottom: 30px;
  }
  .footer a {
    font-size: 10px;
  }
  .footer p {
    font-size: 10px;
  }
  .footer i {
    font-size: 25px;
  }
}
